<!-- HTTP/1.1 200 OK
Cache-Control: private, s-maxage=0
Content-Type: text/html; charset=utf-8
X-Frame-Options: SAMEORIGIN
X-Powered-By: ASP.NET
X-Frame-Options: DENY
Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; frame-src 'self'; frame-ancestors 'self';
X-Content-Type-Options: nosniff
Referrer-Policy: origin
Strict-Transport-Security: max-age=31536000
X-Xss-Protection: 1; mode=block
Date: Wed, 08 Feb 2023 20:40:48 GMT
Connection: close
Content-Length: 51148 -->


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>臺灣大學系統登記選課 - 國立臺灣科技大學選課系統</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/Content/css?v=ZIT4Az9ybwMvNyRyLlZXfzq5LlyzjGcWYKo3y-w81so1" rel="stylesheet"/>


    <!-- Add local styles, mostly for plugins css file -->
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="/bundles/jquery?v=j0KTl3c7wZq_n5FBtBZHrtxmocYX7tDbFpYzG75X64A1"></script>


</head>
<body class="profile-tabs">

    <nav class="navbar navbar-default navbar-fixed-top label-warning">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="text-success">
                <a class="navbar-brand" href="/">國立臺灣科技大學選課系統</a>
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">初選選課</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/First/A02/A02">初選登記選課</a></li>

                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/First/A07/A07">新生暨交換生初選登記選課</a></li>

                            <li><a Style="font-size:16px; text-align:left;" href="/First/A03/A03">臺灣大學系統登記選課</a></li>

                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/First/A06/A06">電腦抽選後選課</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">加退選課</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/AddAndSub/B01/B01">加退選課</a></li>

                        

                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/AddAndSub/B02/B02">EMBA暑期選課</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">授權碼選課</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/Authorization/C01/C01">授權碼選課</a></li>
                            <li class="disabled"><a Style="font-size:16px; text-align:left; text-decoration:line-through; text-decoration-color: red;" href="/Authorization/C02/C02">暑期授權碼選課</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">選課清單</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a Style="font-size:18px;" href="/ChooseList/D01/D01">選課清單</a></li>


                        <li> <a Style="font-size:18px;" href="/ChooseList/D02/D02">暑期選課清單</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">二次退選</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a Style="font-size:18px;" href="/TwoSub/E01/Announcement">二次退選</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">Language</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a Style="font-size:18px; text-align:left;" href="/Home/SetCulture?Culture=zh-TW&amp;returnUrl=%2FFirst%2FA03%2FA03">繁體中文</a></li>
                        <li><a Style="font-size:18px; text-align:left;" href="/Home/SetCulture?Culture=en-US&amp;returnUrl=%2FFirst%2FA03%2FA03">English</a></li>
                    </ul>
                </li>
            </ul>
            
<form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="UMpOuM83jhaOeRKOGSiHwqTaJ7efVYwKkZkarT2xwS6xK2iUaWnEQhtt_wAcyH2i0pjkjq-VVTOgspqsa_B5sKhRBbkADANO-CTLzcrnIs3-ZaUkypeadWt3yzokNGGL5JUgGq9PiVrzlCAyM2AJjQ2" />        <ul class="nav navbar-nav navbar-right">
            <li>
                

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px;"><span class="text-success">王正宏</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" style="font-size:18px; pointer-events: none;" disabled="disabled"><span>選課身份</span></a>
                    </li>
                    <li class="divider"></li>

                                <li>
                                    <a href="#" style="font-size:18px; pointer-events: none;" disabled="disabled">
                                        <span>
四技 資訊工程系 二年級 乙班
                                        </span>
                                    </a>
                                </li>


                </ul>

            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit();" style="font-size:18px;"><span class="text-success">登出</span></a>
            </li>
        </ul>
</form>
        </div>
    </div><!-- /.container-fluid -->

</nav>



    <div class="wrapper">
        <br />
        <br />
        <br />
        <div class="container">

            <div class="row">


                
                <!-- 第一組清單   -->
                
                

                

                <div class="col-md-12" style="text-align:right">
                                <span style="font-size: medium">初選選課 >> 臺灣大學系統登記選課</span>

                </div>
            </div>
        </div>

    </div>

    <div>
<div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">功課表</h4>
            </div>
            <div class="modal-body">
                <table style="width: 100%" border="1">
                    <tr>
                        <td align="center">節次</td>
                        <td align="center">時間</td>
                        <td align="center">星期一</td>
                        <td align="center">星期二</td>
                        <td align="center">星期三</td>
                        <td align="center">星期四</td>
                        <td align="center">星期五</td>
                        <td align="center">星期六</td>
                        <td align="center">星期日</td>
                    </tr>

                    <tr>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center;width:6%">
                            08:10～<br>
                            09:00
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center">2</td>
                        <td style="text-align:center">
                            9:10～<br>
                            10:00
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">3</td>
                        <td style="text-align:center">
                            10:20～
                            11:10
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">4</td>
                        <td style="text-align:center">11:20～
                        12:10</td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">5</td>
                        <td style="text-align:center">
                            12:20～
                            13:10
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">6</td>
                        <td style="text-align:center">
                            13:20～
                            14:10
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">7</td>
                        <td style="text-align:center">
                            14:20～
                            15:10
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">8</td>
                        <td style="text-align:center">
                            15:30～
                            16:20
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">9</td>
                        <td style="text-align:center">
                            16:30～
                            17:20
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">10</td>
                        <td style="text-align:center">
                            17:30～
                            18:20
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">A</td>
                        <td style="text-align:center">
                            18:25～
                            19:15
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">B</td>
                        <td style="text-align:center">
                            19:20～
                            20:10
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">C</td>
                        <td style="text-align:center">
                            20:15～
                            21:05
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">D</td>
                        <td style="text-align:center">
                            21:10～
                            22:00
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHideModal" class="btn-lg btn-success">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="loginModal2" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">選課清單</h4>
            </div>
            <div class="modal-body">
                <div style="color:red">
                總學分數:
                </div>
                <table style="width: 100%" border="1">
                    <tr>
                        <td align="center">課碼</td>
                        <td align="center">課程名稱</td>
                        <td align="center">學分數</td>
                        <td align="center">必、選修</td>
                        <td align="center">上課教師</td>
                    </tr>
                </table>
            </div>
            
            <div class="modal-footer">
                <button type="button" id="btnHideModal2" class="btn-lg btn-success">關閉</button>
            </div>
        </div>
    </div>
</div>
    </div>

    <br />
    <div class="main main-raised">
        <div class="section">
            <div class="container" id="Main">
                



<script src="/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.blockUI.js"></script>
<script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>

<style>
    .box {
        border: 1px solid #cccccc;
        width: 80%;
        height: 200px;
        background-color: #FFFFFF;
        padding: 5px;
        overflow: auto;
    }

    #draggable {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-collapse: collapse;
        color: #000000;
        text-align: center;
        width: 100%;
    }

        #draggable th {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            color: #000000;
            padding: 5px;
        }

        #draggable td {
            border: 1px solid #cccccc;
            cursor: move;
            padding: 5px;
        }

    .table {
        display: table;
        border-collapse: separate;
        border-spacing: 1px;
        border: 1px solid #fff;
        width: 700px;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        border: 1px solid #000000;
        vertical-align: middle;
        text-align: center;
    }
</style>





<script type="text/javascript">

 $(document).ready(function () {


        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
        $("#btnHideModal2").click(function () {
            $("#loginModal2").modal('hide');
        });
    });

    $(document).ready(function () {

        $("#btnHideModal1").click(function () {
            $("#loginModal1").modal('hide');
                    });
                });

    $(document).ready(function () {

        $("#btnHideModal2").click(function () {
            $("#loginModal2").modal('hide');
                    });
                });



    $(document).ready(function () {
        $("#btnShowModal3").click(function () {
            $("#loginModal3").modal('show');
        });

        $("#btnHideModal3").click(function () {
            $("#loginModal3").modal('hide');
        });
    });

    $(document).ready(function () {
        $(this).click(function () {
            $('#Add').change(function () { ChangeCategory(); });
        });
    });


    $(document).ready(function () {

        $(draggable).find(".table-row:gt(0)").each(function () {
            $(this).on("click", function () {
                if ($(window.event.srcElement).hasClass("addbtn")) {
                    $.blockUI({
                        message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" /> 處理中,請稍候...</td></tr></table>',
                        css: {
                            width: '200px',
                            height: '50px'
                        },
                    });
                    var CourseNo = $(this).find('.table-cell').eq(0).text();
                    if (CourseNo) {
                        $.ajax({
                            url: '/First/A03/Join',
                            type: "POST",
                            dataType: "html",
                            data: {
                                CourseNo: CourseNo,
                                type: 1
                            },
                            success: function (response) {
                                $(location).attr('href', 'A03');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert("系統錯誤!");
                                $(location).attr('href', 'A03');
                            }
                        });
                    }
                }
            });
        });

        $(cartTable).find("tr:gt(0)").each(function () {
            $(this).on("click", function () {
                if ($(window.event.srcElement).hasClass("delbtn")) {
                    $.blockUI({
                        message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" /> 處理中,請稍候...</td></tr></table>',
                        css: {
                            width: '200px',
                            height: '50px'
                        },
                    });
                    var CourseNo = $(this).find('th').eq(1).text();
                    if (CourseNo) {
                        $.ajax({
                            url: '/First/A03/SubCourse',
                            type: "POST",
                            dataType: "html",
                            data: {
                                CourseNo: CourseNo
                            },
                            success: function (response) {
                                $(location).attr('href', 'A03');

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert("系統錯誤!");
                                $(location).attr('href', 'A03');
                            }
                        });
                    }
                }
            });
        });

        $(cartTable).find("tr:gt(0)").each(function () {
            $(this).on("click", function () {
            if ($(window.event.srcElement).hasClass("delbtn")) {
                    $.blockUI({
                message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" />處理中,請稍候...</td></tr></table>',
                        css: {
                    width: '200px',
                            height: '50px'
                        },
                    });
                var CourseNo = $(this).find('td').eq(1).text();
                if (CourseNo) {
                        $.ajax({
                    url: '/First/A03/SubCourse',
                            type: "POST",
                            dataType: "html",
                            data: {
                        CourseNo: CourseNo,
                                type: 2
                            },
                            success: function (response) {
                                $(location).attr('href', 'A03');

                        },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert("系統錯誤！");
                                $(location).attr('href', 'A03');
                        }
                    });
                }
            }
        });
    });

        $(document).on("click", "span", function () {
            $(DetermineTable).find(".table-row:gt(0)").each(function () {
                $(this).unbind('click').click(function () {
                    if ($(window.event.srcElement).hasClass("delbtn")) {
                        var r = confirm("是否要退選課程?");
                        if (r == true) {
                            var CourseNo = $(this).find('.table-cell').eq(0).text();
                            if (CourseNo) {
                                $.ajax({
                                    url: '/First/A03/SubCourse',
                                    type: "POST",
                                    dataType: "html",
                                    data: {
                                        CourseNo: CourseNo,
                                        type: 2
                                    },
                                    success: function (response) {
                                        $("#loginModal3").load("/First/A03/CourseDetermineList");

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert("系統錯誤!");
                                        $(location).attr('href', 'A03');
                                    }
                                });
                            }
                        }
                    }
                });
            });
        });

        $("#SingleAdd").click(function () {
            var CourseNo = $('input[name="CourseText"]').val();
            if (CourseNo != "") {
                $.blockUI({
                    message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" /> 處理中,請稍候...</td></tr></table>',
                    css: {
                        width: '200px',
                        height: '50px',
                    },
                });
                $.ajax({
                    url: '/First/A03/ExtraJoin',
                    type: "POST",
                    dataType: "html",
                    data: {
                        CourseNo: CourseNo,
                        type: 3
                    },
                    success: function (response) {
                        $(location).attr('href', 'A03');

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("系統錯誤!");
                        $(location).attr('href', 'A03');
                    }
                });
            }
            //else if (CourseNo.substring(0, 2) != "3T" && CourseNo.substring(0, 2) != "3N")
            //{
            //    alert("只能加入台大、師大課程");
            //}
            else
            {
                alert("請輸入課號");
            }
        });

                $("#btnShowModal").click(function () {
            $.ajax({
                url: '/First/A03/Curriculum',
                type: "POST",
                dataType: "html",
                data: {
                    type: 1
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("系統錯誤!");
                    $(location).attr('href', 'A03');
                }
                    });

        });

        $("#btnShowModal2").click(function () {
            $.ajax({
                url: '/First/A03/ChooseCourseList',
                type: "POST",
                dataType: "html",
                data: {
                    type: 1
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("系統錯誤!");
                    $(location).attr('href', 'A03');
                }
            });
        });

        });


    
    $("#cartTable tbody" ).sortable({
        update: function (event, ui) {
            $(this).children().each(function (index) {
                $(this).find('th').first().html(index + 1)
            });

    function Save() {
        var data2 = Array();
        $.blockUI({
                message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" /> 處理中,請稍候...</td></tr></table>',
                        css: {
                    width: '200px',
                            height: '50px'
                        },
                    });

        $("#cartTable tr").each(function (i, v) {
            data2[i] = Array();
            $(this).children('th').each(function (ii, vv) {
            data2[i][ii] = $(this).text();
            });
        })

            $.ajax({
                url: '/First/A03/SaveIdx',
                type: "POST",
                dataType: "html",
                data: { Arraydata: data2 },
                success: function (response) {
                    $.unblockUI();
                            },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("系統錯誤!");
                    $(location).attr('href');
                            }
                        });
            }
            Save();
        }
    });

</script>

<script type="text/javascript">

        alert("這門課已經在您的選課表或已經修過，請勿重複選課(課碼、課名重複)。");


</script>

<script type="text/javascript">

    var cookie = $.cookie("bulletinDisplayState_A03");
    if (cookie == null) {
        $.cookie("bulletinDisplayState_A03", "block");
    }

</script>

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="header" style="cursor: pointer">
                <span>訊息公告(點選可展開、收合)</span>
            </div>

            <div class="panel-body">
<div>
    <ul>
<p>※選課可於「待選清單」中直接點選加入登記，或是自行輸入課碼再行加入登記。</p><p>※志願序登記至多可選填20門。</p><p>※本階段僅能登記<span style="color: rgb(255, 255, 255); background-color: rgb(148, 189, 123);">臺灣大學系統課程</span>（3Nxxxxxx、3Txxxxxx）。</p><p>※本階段登記課程，與<span style="background-color: rgb(255, 156, 0); color: rgb(255, 255, 255);">臺科大本校課程</span>牴觸的話（如：衝堂、超過學分上限...等），抽籤時定不會中籤。</p><p>※承上，欲登記之<span style="color: rgb(255, 255, 255); background-color: rgb(148, 189, 123);">臺灣大學系統課程</span>與<span style="color: rgb(255, 255, 255); background-color: rgb(255, 156, 0);">臺科大本校課程</span>牴觸時，請先至「本校課程退選」退選該課程，抽籤時方有「機會」中籤。</p><p>※<span style="color: rgb(255, 0, 0);">本階段退選之</span><span style="color: rgb(255, 255, 255); background-color: rgb(255, 156, 0);">臺科大本校課程</span><span style="color: rgb(255, 0, 0);">，無法再加回，須待「加退選課」時，才能再進行加課動作。</span><br></p><p>※出現「本課程僅能使用授權碼加選」訊息，表示台大、師大限定該課程僅能使用授權碼進行選課。<br></p><p>※<span style="color: rgb(255, 0, 0);">請直接拖拉「登記志願清單」中的課程來變更志願序。</span></p>
    </ul>
</div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    if ($.cookie("bulletinDisplayState_A03") == "block") {
        $('.panel-body').show();
    }
    else {
        $('.panel-body').hide();
    }


    $('.header').click(function () {

        $('.panel-body').slideToggle('fast');

        var state = $.cookie("bulletinDisplayState_A03") == "block" ? "none" : "block";

        $.cookie("bulletinDisplayState_A03", state);
    });

</script>

<br />
課碼：<input name="CourseText" type="text" maxlength="9" />
<input id="SingleAdd" type="button" value="加入登記" class="btn-sm btn-success" />
<br />
<br />

<div class="row">
    <div class="col-md-offset-0 col-md-2 col-md-offset-10 label-warning" style="border-radius: 10px; text-align:center">
        <span style="color: white">待選清單</span>
    </div>
</div>


<br><br>
<form action="/First/A01/A01?enctype=multipart%2Fform-data" method="post">    <Div class="box" id="a1">
        <div class="table" id="draggable">
            <div class="table-row">
                <div class="table-cell">
                    課碼
                </div>
                <div class="table-cell">
                    課程名稱
                </div>
                <div class="table-cell">
                    上課教師
                </div>
                <div class="table-cell">
                        加入登記
                </div>
            </div>


            </div>

</div>
</form>


<hr />

<button id="btnShowModal" type="button" class="btn-sm btn-success">功課表</button>
<button id="btnShowModal2" type="button" class="btn-sm btn-success">選課清單</button>
<button id="btnShowModal3" type="button" class="btn-sm btn-success">本校課程退選</button>
<br />
<br />
<div class="row">
    <div class="col-md-offset-0 col-md-2 col-md-offset-10 label-warning" style="border-radius: 10px; text-align:center">
        <span style="color: white">登記志願清單</span>
    </div>
</div>





<script src='/Scripts/jquery-ui.min.js'></script>
<script src="/Scripts/jquery.ui.touch-punch.min.js"></script>

<br>
<table id="cartTable" style="width:70%">
    <thead>
        <tr>
                <td style="border: 1px solid;text-align:center;">
                    志願序
                </td>
            <td style="border: 1px solid;text-align:center">
                課碼
            </td>
            <td style="border: 1px solid;text-align:center">
                課程名稱
            </td>
                <td style="border: 1px solid;text-align:center">
                    取消加入
                </td>

            </tr>
    <tbody>
                <tr class="data" style="border: 1px solid;text-align:center">
                        <td style="border: 1px solid;text-align:center">
                            1
                        </td>
                    <td style="border: 1px solid;text-align:center">
                        3N1250701
                    </td>
                    <td>
數位攝影與後製作
                    </td>
                    <td style="border: 1px solid;text-align:center">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">取消加入</span>
                    </td>
                    </tr>
                <tr class="data" style="border: 1px solid;text-align:center">
                        <td style="border: 1px solid;text-align:center">
                            2
                        </td>
                    <td style="border: 1px solid;text-align:center">
                        3NG286701
                    </td>
                    <td>
邏輯思考與應用
                    </td>
                    <td style="border: 1px solid;text-align:center">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">取消加入</span>
                    </td>
                    </tr>
        </tbody>
</table>



<script>
    $("#cartTable tbody" ).sortable({
        start: function (event, ui) {
        ui.item.css('background-color', '#337AB7');
    }
    });
    $("#cartTable tbody" ).sortable({
        stop: function (event, ui) {
            ui.item.css('background-color', '');
        }
    });
    $("#cartTable tbody" ).sortable({
      helper: fixWidthHelper
    });
    function fixWidthHelper(e, ui) {
      ui.children().each(function() {
          $(this).width($(this).width());
      });
      return ui;
    }
    $("#cartTable tbody" ).sortable({
        update: function (event, ui) {
            $(this).children().each(function (index) {
                $(this).find('td').first().html(index + 1)
            });
    function Save() {
        var data2 = Array();
        $.blockUI({
                message: '<table align = "center"><tr><td valign="middle" style="height:50px" class="main"><img src="/images/ajax-loader.gif" /> 處理中,請稍候...</td></tr></table>',
                        css: {
                    width: '200px',
                            height: '50px'
                        },
                    });
    
        $("#cartTable tr").each(function (i, v) {
            data2[i] = Array();
            $(this).children('td').each(function (ii, vv) {
            data2[i][ii] = $(this).text();
            });
        })
            $.ajax({
                url: '/First/A03/SaveIdx',
                type: "POST",
                dataType: "html",
                data: { Arraydata: data2 },
                success: function (response) {
                   $.unblockUI();
                            },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("系統錯誤！");
                    $(location).attr('href', 'A02');
                            }
                        });
            }
            Save();
        }
    });
</script>

<div id="List3">
    <div class="modal fade" tabindex="-1" id="loginModal3" data-keyboard="false" data-backdrop="static">

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">本校課程退選</h4>
        </div>
        <div class="table" id="DetermineTable" style="width:100%">
            <div class="table-row">
                <div class="table-cell">
                    課碼
                </div>
                <div class="table-cell">
                    課程名稱
                </div>
                <div class="table-cell">
                    退選
                </div>
            </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS2001301
                        </div>
                        <div class="table-cell">
工程數學
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS2006302
                        </div>
                        <div class="table-cell">
計算機組織
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS2008302
                        </div>
                        <div class="table-cell">
機率與統計
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS2901701
                        </div>
                        <div class="table-cell">
多媒體實習
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS3001302
                        </div>
                        <div class="table-cell">
演算法
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            CS3007701
                        </div>
                        <div class="table-cell">
多媒體資訊系統導論
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            FE1471701
                        </div>
                        <div class="table-cell">
英文小說與電影
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            FE2031703
                        </div>
                        <div class="table-cell">
體育英文
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            PE115B022
                        </div>
                        <div class="table-cell">
體育(排球)(下)
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            TCG040301
                        </div>
                        <div class="table-cell">
人我關懷與心靈成長
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            TCG099301
                        </div>
                        <div class="table-cell">
影像記事中的近代兩岸
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            TCG121301
                        </div>
                        <div class="table-cell">
永續發展與社會(二)
                        </div>
                        <div class="table-cell">
                            <span class="delbtn btn btn-xs btn-warning" style="vertical-align: middle">退選</span>
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-lg btn-success" data-dismiss="modal">關閉</button>
        </div>
    </div>
</div>


    </div>


</div>
<br />

            </div>
        </div>
    </div>
    </div>

    <!--   Core JS Files   -->
    <script src="/bundles/bootstrap?v=MNpS5O51wHRNa-mwZiLo2ANrfm54KakDrpnTApBnVqM1"></script>

    <!--http://spin.js.org/-->
    <script src="/Scripts/spin.min.js" type="text/javascript"></script>

    <script src="/assets/js/material.min.js"></script>
    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/assets/js/nouislider.min.js" type="text/javascript"></script>
    <!-- Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="/assets/js/material-kit.js" type="text/javascript"></script>

    <div id="loading" style="display:none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 50%
                no-repeat;">
    </div>

    <script>
        $().ready(function () {
            $(window).on('scroll', materialKit.checkScrollForTransparentNavbar);
            var spinner = new Spinner().spin(document.getElementById("loading"));
        });

        function showLoading() {
            $('#loading').show();

        };
        function hideLoading() {
            $('#loading').hide();
        };

        $(document).ajaxStart(function () {
            showLoading();
        }).ajaxStop(function () {
            hideLoading();
        });
    </script>
    
</body>
</html>
